.page-content {
    grid-template: ". breadcrumbs"
                   ". mainContainer";
    grid-template-rows: max-content auto;
    grid-template-columns: 30px auto;
    padding-top: 1rem;
}

#fields-wrapper {
    grid-area: fields;
}

.form-group {
    margin-bottom: 1.5rem;
}

#imageInput {
    position: absolute;
    display: none;
}

.popover-content {
    padding: 2px;
}

.img-preview {
    width: 100%;
    height: 0;
}

#img-name {
    margin-left: 3rem;
    line-height: 1;
}

#img-name i {
    margin-right: 5px;
}

.add-img-btn {
    display: inline-block;
    width: 3rem;
    height: auto;
    font-weight: 400;
    color: #5cb85c;
    text-align: center;
}

.img-add-container {
    display: flex;
}

.add-img-btn:hover {
    color: #449d44;
    font-weight: 700;
    transition: 0.1s;
    cursor: pointer;
}

.add-img-btn:hover > .btn-file {
    background-color: #449d44;
}

.add-img-btn:hover .fa-upload {
    transform: scale(1.2,1.2);
    transition: 0.1s;
}

.form-group.submit-btn {
    grid-area: submit;
    margin: 0 auto;
}

.btn-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.btn.btn-success.btn-file {
    display: block;
    height: inherit;
    width: 3rem;
    margin: 0 auto;
    border-radius: 50%;
}

.multiple-input-add-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.append-form-add-input {
    text-align: right;
    margin-left: 1rem;
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
    font-size: 12px;
}

.append-form-add-input:hover {
    opacity: 1;
    color: #009926;
}

.danger-icon {
    transition: 0.5s;
    color: #ff0500;
    transform: rotate(45deg);
}

.img-link {
    padding: 3px 0;
}

.close-btn {
    text-align: center;
    margin-left: 1.3rem;
    margin-right: 0.35rem;
    outline: none;
    position: static;
    color: #9e9e9e;
}

.close-btn:focus {
    outline: none;
}

.input-container {
    display: inline-flex;
    position: relative;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 1rem;
}

.input-autocomplete {
    background-color: #292b2c;
    color: #fff;
    font-size: 14px;
    padding: 0 5px 5px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: 25rem;
    overflow-y: auto;
}

.ui-menu-item:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ui-menu-item:hover {
    background-color: #009926;
}

.ui-menu-item > .ui-state-active {
    margin: 0;
}

#add-form, #edit-form {
    display: grid;
    grid-row-gap: 2em;
    grid-column-gap: 5em;
    grid-template-columns: auto max-content 1px;
    grid-template-areas: "fields image" "submit submit";
}

.multiple {
    margin-bottom: 0;
}

#biographyInput, #descriptionInput {
    min-height: 10rem;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.form-group.file-upload-group {
    position: relative;
    margin: 0 auto;
    background: #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: image;
}

#add-img-wrapper {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #009926;
    position: relative;
    margin: 0;
    transition: all 0.4s ease-in-out;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-img {
    position: absolute;
    width: 70%;
    z-index: 1;
}

#add-img-wrapper .new-book-imgs {
    object-fit: scale-down;
    width: 200px;
}

#img-add-btn-wrapper {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    top: 0;
    left: 0;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

#add-img-wrapper:hover ~ #img-add-btn-wrapper, .book-img:hover ~ #img-add-btn-wrapper, #img-add-btn-wrapper:hover {
    opacity: 1;
    transform: scale(1);
}

.update-btn .image-btn:hover{
    color: #009926;
    cursor: pointer;
}

.owl-stage {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 859px) {
    #add-form, #edit-form {
        grid-column-gap: 2em;
    }
}

@media (max-width: 768px) {
    #add-form, #edit-form {
        grid-template-areas: "fields"
                             "image"
                             "submit";
    }
}