.alert {
    font-size: 18px;
    min-width: 400px;
    background-image: url(/../../images/alert.png);
    align-items: center;
    border-radius: 15px;
    display: grid !important;
    grid-template: "icon message close";
    grid-template-columns: max-content auto max-content;
    max-width: 500px;
    grid-gap: 1rem;
}

.alert span[data-notify="icon"] {
    font-size: 35px;
    margin-right: 10px;
    grid-area: icon;
}

.alert-wrapper {
    padding: 0 10px;
    grid-area: message;
}

.alert-wrapper ul {
    margin: 0;
}

.alert .close-wrapper {
    grid-area: close;
}

.alert.alert-success {
    color: #fff;
    background-color: #028c23;
    border-color: #0eb935;
}

.alert.alert-info {
    color: #fff;
    background-color: #3978bb;
}

.alert.alert-warning {
    color: #fff;
    background-color: #dc982a;
}

.alert-danger {
    color: #fff;
    background-color: #900411;
}

.alert .close {
    color: #fff;
    opacity: .8;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 10px;
    outline: none;
}

.alert .close:hover {
    opacity: 1;
}
