#alert-container {
    position: fixed;
    bottom: calc(0vh + 2em);
    right: -25rem;
    max-width: 25rem;
    min-width: 15rem;
    min-height: 3rem;
    display: flex;
    align-items: center;
    transition: .5s ease-in-out;
    background-image: url(/../../images/alert.png);

}

#alert-container i.fa {
    font-size: 30px;
    margin-right: 5px;
}

#alert-container.visible {
    right: 2em;
}