#breadcrumbs {
    padding: .5rem 0 1.5rem .5rem;
}

#breadcrumbs .fa-long-arrow-right {
    padding: 0 5px;
}

#breadcrumbs .active {
    color: #009926;
}

.breadcrumbs-item {
    color: #272c2e;
}

.breadcrumbs-item:hover {
    color: #009926;
}