#comments-block-container {
    display: grid;
    grid-template-rows: repeat(2, min-content) repeat(2, minmax(0, min-content)) min-content;
    grid-row-gap: .5em;
}

#comments-sort-wrapper {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    margin-bottom: .5em;
}

#comments-sort-wrapper > div {
    margin-right: 1rem;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #009926;
    background-color: #f8f9fa;
}

.comment-wrapper .comments-editor-container {
    grid-column-start: 2;
    grid-column-end: 3;
}

.note-save-comment-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.note-remaining-letter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.remainingLetter {
    color: #4FBC55;
    font-weight: 600;
}

.remainingLetter.excess {
    color: #DE4E5F;
    font-weight: 600;
}

#comments-text-editor-wrapper {
    margin-bottom: 1em;
}

.add-comment-btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.add-comment {
    margin-top: .5em;
}

.add-comment.disabled {
    opacity: .6;
}

.comment-wrapper {
    display: grid;
    grid-template-columns: 50px auto;
    border-top: .5px solid rgba(68, 68, 68, 0.45);
    margin-top: 1em;
    grid-gap: .5em;
    padding-top: .5em;
}

.comment-author-img-wrapper {
    margin-right: 1em;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid #2A9430;
    overflow: hidden;
}

.comment-author-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.comment-content-wrapper {
    display: grid;
    grid-template-areas: "name  date"
                         "text  text"
                         "button  button"
                         "innerEditor innerEditor";
    grid-row-gap: .5em;
    grid-column-gap: 10px;
    align-items: baseline;
}

.comment-author-name-wrapper {
    grid-area: name;
    font-size: 18px;
}

.comment-date-wrapper {
    grid-area: date;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
}

.comment-text-wrapper {
    grid-area: text;
}

.comment-content-wrapper .note-editor {
    grid-area: innerEditor;
}

.comment-btn-wrapper {
    grid-area: button;
    display: grid;
    grid-template-columns: auto minmax(50px, max-content) max-content;
    grid-column-gap: .5em;
}

.comment-reply-btn {
    font-size: 12px;
}

.comment-reply-btn.active {
    opacity: .7;
}

.comment-rating {
    text-align: center;
}

.comment-rating.positive {
     color: #4FBC55;
}

.comment-rating.negative {
    color: #DE4E5F;
}

.comment-add-vote-wrapper {
    display: flex;
}

.comment-add-vote-wrapper span {
    margin: 0 5px;
}

.comment-add-vote {
    cursor: pointer;
}

.comment-add-vote.positive:hover {
    color: #4FBC55;
}

.comment-add-vote.negative:hover {
    color: #DE4E5F;
}

#empty-comments {
    text-align: center;
    width: 100%;
}