.page-content {
    max-width: 89%;
    padding-right: 2em;
}

.container-link {
    margin-right: 15px;
    margin-left: 0;
}

.item-container-link {
    color: #bbb !important;
    margin-right: 15px;
    margin-left: 0;
}

.item-container-link:hover img {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

.item-container-link:hover .container-title{
    box-shadow: inset 0 -5px 5px -1px #009926;
}

.item-container {
    height: 25em;
    margin: 1em 1em;
    width: 20em;
    border: 1px solid #bbb;
    max-width: 100%;
    padding: 0;
}

.container-cover {
    height: 85%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cover img {
    max-height: 100%;
}

.container-title {
    height: 15%;
    background-color: #272c2e;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#category {
    display: flex;
    list-style-type: none;
    padding-left: 1rem;
    border-bottom: 1px solid #999;
}

.tab-item {
    border: 1px solid #999;
    border-bottom-width: 0;
    border-radius: 5px 5px 0 0;
    background-color: #eee;
}

.tab-item.active {
    margin-right: -1px;
    margin-left: -1px;
    margin-bottom: -1px;
    border-bottom: 1px solid #fff;
    box-shadow: 0 -3px 0 -1px #009926;
    background-color: transparent;
}

.tab-item.active .nav-link{
    color: #009926;
    font-weight: 600;
}

.tab-item .nav-link {
    color: #999;
}


#alphabet-filter-container {
    position: fixed;
    font-size: 14px;
    right: 1vw;
    padding: 1rem 0 1rem 1rem;
}

#alphabet-sticky-block {
    width: 1.5rem;
    right: 1vw;
}

.letter-filter {
    text-align: center;
}

.letter-filter.hover {
    transition: 0.5s;
    transform: scale(1.7);
    color: #009926;
    cursor: pointer;
    border: none !important;
}

.letter-filter.adjacent {
    transition: 0.5s;
    transform: scale(1.2);
    color: rgba(0, 153, 38, 0.7);
}

.letter-filter.active {
    border: 1px solid #009926;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}