/*
 * Base structure
 */
body {
    background: #fff;
    font-size: 100%;
    font-family: 'Philosopher', Roboto, sans-serif;
}

body a {
    transition: 0.5s all;
    text-decoration: none !important;
    outline: none;
    color: #014c8c;
}

body a:hover {
    color: #009926;
}

header {
    padding-top: 1rem;
}

.hidden {
    display: none !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
}

.error-message {
    font-size: 14px;
    text-align: center;
    color: #d9534f;
}

/*.form-group.error {*/
    /*color: #ce2e2e !important;*/
/*}*/

/*.error input {*/
    /*border: 1px solid #ce2e2e !important;*/
/*}*/

.has-danger .form-control-feedback {
    font-size: 14px;
}

.btn.btn-primary {
    color: #009926;
    background-color: transparent;
    border-color: #009926;
    min-width: 7rem;
}

.btn-primary:hover, .btn-primary:focus {
    box-shadow: 0 2px 0 1px rgba(0,153,38,.5) !important;
}

.container-content.row {
    margin: 0;
}

.form-group {
    position: relative;
}

.form-control {
    padding-left: 0;
    border: 0;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    background-color: transparent;
}

.form-control:focus + .input-label {
    color: #009926;
}

.form-control:focus {
    border-bottom: 1px solid #009926;
    box-shadow: 0 1px 0 0 #009926;
    transition: 0.5s;
}

.input-label {
    position: absolute;
    font-size: 1rem;
    cursor: text;
    margin: 0;
    transition: 0.3s;
    color: #9e9e9e;
    top: 0.6rem;
}

.input-label.active {
    position: absolute;
    transform: translateY(-135%);
    font-size: 0.8rem;
    transition: 0.5s;
    opacity: 1;
}

/*
* Owl slider
*/
.owl-nav {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    justify-content: space-between;
}

.owl-nav i {
    border-radius: 50%;
    color: #35447b;
    box-shadow: 0 0 5px 3px rgba(255,255,255,1);
}

.owl-nav i:hover {
    color: #009926;
}


/*
* Back to Top button
*/
#back-to-top {
    position: fixed;
    left: 0;
    bottom: 80px;
    padding: 0 10px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #009926;
    border-radius: 0 5px 5px 0;
    color: #009926;
    background: rgba(255, 255, 255, 0.4) url(../../images/alert.png);
    transition: .5s;
}

#back-to-top.visible {
    transform: translateX(190px);
    transition: .5s;

}

#back-to-top:hover, #back-to-top:focus {
    box-shadow: 0 0 0 2px rgba(0,153,38,.5) !important;
    background: #3B4142;
    color: #fff;
    transition: .3s;
}

/*
* Spinner
*/
div.page-content.spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(41, 41, 41, .9);
    z-index: 100;
}

div.page-content.spinner:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 44px;
    width: 44px;
    margin: auto;
    background: rgba(0, 0, 0, 0) url(../../images/loader.gif) no-repeat center center /contain;
    border-radius: 6px;
    z-index: 101;
}

/*
 * Left sidebar
 */
#user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem 1rem;
    border-bottom: 1px solid #009926;
}

#user-profile-img-wrapper {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 0;
}

#user-profile-img-wrapper {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 0;
}

#user-profile-img-wrapper img {
    width: 100%;
}

.user-profile-btn-control {
    display: flex;
    margin-bottom: 1rem;
    background-color: #009926;
    border: 1px solid #fff;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.user-profile-btn-control.visible {
    transition: 1s;
    max-height: 176px;
    border: 1px solid #fff;
    margin-top: 1rem;
}

.btn-control {
    border-right: 1px solid rgba(255,255,255,.5);
    border-bottom: none;
    color: #fff;
    padding: 5px;
}

.btn-control:hover, .btn-control:focus {
    color: #009926;
    background-color: #fff;
}

.btn-control:first-child {
    border-radius: 6px 0 0 6px;
}

.btn-control:last-child {
    border-right: 0;
    border-radius: 0 6px 6px 0;
}

#navigation {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navigation hr {
    display: none;
}
#side-bottom {
    display: none;
}

/* Menu */
section#menu-content {
    font-size: 16px;
}

.nav-item-icon {
    width: 1.4rem;
    margin-right: 1rem;
}

.icon-stack.fa-fw.nav-item-icon {
    display: inline-flex;
}

.nav-item-icon .fa-plus {
    font-size: 0.7rem;
}

.icon-stack:first-child {
    font-size: 1.3rem;
}

.nav-item {
    padding: 7px 0 7px 20px;
    color: #fff;
    display: flex;
    align-items: center;
}

.nav-item:hover, .nav-item:active, .nav-item:visited, .nav-item.active {
    box-shadow: inset 7px 0 5px -5px #009926;
    color: rgba(255, 255, 255, 0.4);
}

.nav-item:hover .nav-item-icon, .nav-item.active .nav-item-icon {
    color: #009926;
}

/* Login Form & user profile links */
#login-form {
    color: rgba(255, 255, 255, 0.4);
    padding-bottom: 1rem;
    font-size: 14px;
}

#authLinks {
    margin: 0 0 2px 5px;
    font-size: 13px;
}

#authLinks a, #authLinks a:focus {
    color: #fff;
}

#registerLink:after {
    content: '|';
    color: #009926;
    font-size: 17px;
    padding-left: 4px;
}

#authLinks a:hover {
    color: #009926;
}

#login-form-container {
    position: relative;
    padding-right: 32px;
    font-weight: 300;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}

#login-form-container .form-group {
    margin: 0;
}

#login-form-container .help-block {
    color: #ce2e2e;
}

#login-form-container input, #register-form-container input:not([type="checkbox"]) {
    padding: 0 20px 0 6px;
    height: 2rem;
    width: 165px;
    color: #bbb;
    margin: 0 10px 5px 5px;
    text-shadow: 1px 1px 1px black;
    background: rgba(0, 0, 0, 0.16);
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}

#login-form-container input:focus, #register-form-container input:focus {
    color: white;
    background: rgba(0, 0, 0, 0.3);
    outline: 0;
}

#login-button {
    position: absolute;
    top: 13px;
    right: 0;
    width: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2.7rem;
    background: #272c2e;
    border-radius: 32px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}

#login-button button {
    font-size: 19px;
    position: relative;
    z-index: 2;
    background: linear-gradient(to bottom, #009926, #005616);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 30px;
    text-shadow: none;
    color: #fff;
    border: 0;
    outline: none;
}

#login-button button:hover {
    border: 1px ridge #fff;
    transition: border-width 1s ease;
}

#login-button button:hover i {
    transform: scale(1.1);
    transition: .5s;
}

#login-button:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 20px;
    left: -2px;
    width: 5px;
    height: 4px;
    background: #272c2e;
}

#login-button:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    right: 0;
    width: 20px;
    background: #272c2e;
}

.help-block {
    margin: 0 5px 5px 5px;
    line-height: 1;
}

.auth-checkbox {
    position: relative;
    margin-left: 5px;
    line-height: 1.3;
}

.auth-checkbox label{
    padding-left: 18px;
    cursor: pointer;
    margin: 0;
}

.auth-checkbox input {
    position: absolute;
    margin: 2px -18px 0;
}

#logout-form {
    display: none;
}

#navigation hr {
    margin: 0 1rem 1rem 1rem;
    background-color: #009926;
}

/* Copyright */
#side-bottom {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    line-height: 0.1;
}

#side-bottom a, #side-bottom a:focus {
    color: #fff;
    font-size: 14px;
}

#side-bottom a:hover {
    color: #009926;
}

/* Register form */
.signup-form {
    width: 245px;
    color: rgba(255, 255, 255, 0.5);
    min-height: 18rem;
    display: flex;
    overflow: hidden;
}

.close-btn {
    position: absolute;
    top: -1px;
    text-shadow: none;
    outline: none;
    right: 4px;
    color: #9e9e9e;
}

.close-btn:hover {
    color: #009926;
}

#register-form.signup-social {
    margin-left: 2em;
    margin-right: 0;
}

#register-form-container {
    position: fixed;
    bottom: 2em;
    left: 0;
    background-color: #272c2e;
    font-size: 14px;
    border-radius: 10px;
    min-height: 18rem;
    transition: .3s cubic-bezier(.31,.25,.19,.96) all;
    transform: translateX(-105%);
}

#register-form-container.active {
    transition: .3s cubic-bezier(.31,.25,.19,.96) all;
    transform: translateX(0);
    z-index: 1050;
    left: 200px;
}

#register-form-container.active:before {
    content: '';
    position: absolute;
    left: -24px;
    top: 110px;
    border: 15px solid transparent;
    border-right: 10px solid #272c2e;
}

#register-form .form-group {
    margin-bottom: .5rem;
}

#register-form .auth-checkbox input{
    height: 1rem;
}

#register-form input:not([type="checkbox"]) {
    width: 200px;
    margin: 0;
}

#privacyPolicy {
    color: #fff;
}

#privacyPolicy:hover {
    color: #009926;
}

.signup-form .auth-btn {
    background-color: #272c2e;
    width: 100%;
    height: 2rem;
    color: #009926;
    padding: 0;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: none;
}

#reset-psw-btn {
    width: 80%;
}

.chg-auth-type {
    padding: 0 8px;
}

#open-register-form {
    width: auto;
}

#auth-signup-social div {
    width: 200px;
    display: flex;
    align-items: center;
}

#open-register-form {
    width: auto;
}

.chg-auth-type:hover {
    color: #009926;
}

#auth-signup {
    transition: .3s cubic-bezier(.31,.25,.19,.96) all;
    transform: translateX(0);
    display: flex;
    align-items: center;
    padding: 1em;
}

#auth-signup.hide {
    transform: translateX(-100%);
}

#auth-signup-social {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1em;
    align-items: center;
    transition: .3s cubic-bezier(.31,.25,.19,.96) all;
    transform: translateX(0);
}

#auth-signup-social.show {
    transform: translateX(-105%);
}

.social-column {
    display: flex;
    flex-direction: column;
}

.btn-social-icon {
    margin: 5px 0;
    width: 45px;
    height: 45px;
}

.btn-social-icon>:first-child {
    line-height: 45px;
}

#pass-reset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1em;
}

#pass-reset .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

#pass-reset label {
    font-size: 18px;
}

#register-form-container #pass-reset input {
    width: 100%;
}

#pass-reset span {
    font-size: 13px;
}

#pass-reset .fa-info-circle {
    padding-right: 5px;
}

/*
 * Main content
 */
div.page-content {
    position: relative;
    padding: 0 4em 1em;
    font-size: 16px;
    min-height: 100vh;
    width: 100%;
}

.page-content h2.page-title {
    padding: 1em;
    text-align: right;
    font-size: 32px;
    background: #000 url(../../images/header.jpg) no-repeat;
    background-size: auto 100%;
    border-radius: 10px;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

.container.reset {
    width: calc(100% - 50px);
    margin-left: 0;
}

@media screen and (max-width: 859px) {
    .main {
        overflow: hidden;
        min-height: 100vh;
        margin-left: 50px;
    }

    .sidebar {
        position: fixed;
        height: 100%;
        width: 50px;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0 0 20px 0;
        overflow: hidden;
        background-color: #272c2e;
        font-size: 16px;
    }

    #user-profile-container {
        height: auto;
    }

    #user-profile-img-wrapper {
        max-width: 40px;
        max-height: 40px;
        cursor: pointer;
    }

    #user-nickname {
        display: none;
    }

    #wrap-btn-control {
        display: block;
        color: #fff;
    }

    #wrap-btn-control.active {
        transform: scaleY(-1);
    }

    .user-profile-btn-control {
        transition: 1s;
        max-height: 0;
        flex-direction: column;
        border: 0;
    }

    .btn-control {
        border-bottom: 1px solid rgba(255,255,255,.5);
        border-right: none;
    }

    .btn-control:first-child {
        border-radius: 6px 6px 0 0;
    }

    .btn-control:last-child {
        border-bottom: 0;
        border-radius: 0 0 6px 6px;
    }

    #back-to-top.visible {
        transform: translateX(50px);
    }

    #login-form {
        width: 190px;
        margin: 0 auto;
    }

    .nav-item {
        padding: 10px 0 10px 15px;
    }

    .nav-item-icon {
        width: 1rem;
    }

    .nav-item-name {
        display: none;
    }

    #login-form-wrapper.active {
        transform: translateX(0px);
        transition: all 0.3s cubic-bezier(0.31, 0.25, 0.19, 0.96);
        position: fixed;
        bottom: 2em;
        width: 245px;
        left: 60px;
        background-color: rgb(39, 44, 46);
        font-size: 14px;
        min-height: 12rem;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }

    #login-form-wrapper.active:before {
        content: '';
        position: absolute;
        left: -24px;
        top: 80px;
        border: 15px solid transparent;
        border-right: 10px solid #272c2e;
    }

    #register-form-container.active {
        left: 60px;
    }

    div.page-content {
        margin-left: 0;
    }

    div#wrapper {
        padding-right: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .main {
        overflow: hidden;
        min-height: 100vh;
        margin-left: 190px;
    }

    .sidebar {
        position: fixed;
        height: 100%;
        width: 190px;
        left: 0;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        padding: 0 0 15px 0;
        overflow: hidden;
        background-color: #272c2e;
        font-size: 16px;
    }

    #user-profile-container {
         height: 316px;
     }

    #user-profile-img-wrapper {
        max-width: 135px;
        max-height: 135px;
    }

    #user-nickname {
        color: #fff;
        font-size: 22px;
        margin: 0.2rem 0;
        display: block;
    }

    #wrap-btn-control {
        display: none;
    }

    .user-profile-btn-control {
        flex-direction: row;
        border: 1px solid #fff;
        max-height: inherit;
    }

    .btn-control {
        border-right: 1px solid rgba(255,255,255,.5);
        border-bottom: none;
    }

    .btn-control:first-child {
        border-radius: 6px 0 0 6px;
    }

    .btn-control:last-child {
        border-bottom: 0;
        border-radius: 0 6px 6px 0;
    }

    #navigation hr {
        display: block;
    }

    #side-bottom {
        display: block;
    }

    #login-form-wrapper.active {
        left: 200px;
    }

    #register-form-container.active {
        left: 200px;
    }

    .nav-item {
        padding: 7px 0 7px 15px;
    }

    .nav-item-name {
        display: block;
    }
}

/*
 * footer
 */
.footer {
    background: #3B4142;
    padding: 1em 3em;
    text-align: center;
    height: 165px;
}

.footer-top {
    padding-bottom: 1em;
    border-bottom: solid 1px #009926;
}

.footer-bottom {
    margin-top: 2em;
}

.footer-top ul {
    padding: 0;
    margin: 0;
}

.footer-top ul li {
    display: inline-block;
    margin: 0 1em;
}

.footer-top ul li a, .footer-top ul li a:focus {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.footer-top ul li a:hover {
    color: #009926;
}

.footer-bottom li {
    display: inline-block;
    margin-right: 1em;
}

.footer-bottom li:hover a, .footer-bottom li:hover a:focus  {
    border-color: #009926;
}

.footer-bottom a, .footer-bottom a:focus {
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
}

/*
*   404 page
*/
#wrapperErrorPage {
    text-align: center;
    padding-right: 4em;
    padding-top: 1em;
    font-family: 'Philosopher', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;

}

#wrapperErrorPage h1 {
    font-size: 72px;
    color: #009926;
    font-family: inherit;
}

#wrapperErrorPage h3 {
    font-family: inherit;
}

#imageErrorPage {
    display: block;
    margin: auto;
}

blockquote {
    border-top: 2px solid #009926;
    border-bottom: 2px solid #009926;
    padding: 15px 20px 15px 90px;
    position: relative;
}
blockquote:before {
    content: "\201C";
    font-family: serif;
    position: absolute;
    left: 30px;
    top: 30px;
    color: white;
    background: #009926;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 55px;
    line-height: 75px;
    text-align: center;
}
blockquote p {
    font-size: 20px;
    letter-spacing: .05em;
}

/*
* vertical center modal dialog
*/
.modal-vertical-centered {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
@media(max-width: 768px) {
    .modal-vertical-centered {
        min-height: calc(100vh - 20px);
    }
}