div.page-content {
    max-width: calc(100vw - 190px - 4em);
    padding-right: 0;
}

#wrapper {
    padding: 0 3rem 0 1rem;
    text-align: justify;
    max-height: 100vh;
    max-width: calc(79% + 40px);
    overflow-y: auto;
}

/*
Average rating
*/

#avg-rating-container {
    display: flex;
    justify-content: space-around;
    background-color: #272c2e;
    color: #fff;
    margin-bottom: .5em;
    border-radius: 8px;
    line-height: 2;
}

/*
Image & Actions
*/

#short-info {
    overflow: hidden;
    display: flex;
}

.short-img {
    flex: 1 20em;
    overflow: hidden;
    margin: 0 1rem 1rem 0;
}

#short-info img {
    border-radius: 5px;
}

#user-actions-wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 2;
    font-size: 22px;
}

.user-actions-item a {
    color: #35447b;
}

.user-actions-item a:hover {
    color: #009926;
}

/*
Status
*/

#status-btn {
    border: 1px solid #35447b;
    border-radius: 10px;
    margin: 0 1em;
    text-align: center;
    line-height: 2;
    cursor: default;
    display: block;
    color: #35447b;
}

#status-btn[data-status]:not([data-status='']) {
    border-color: #fff;
    color: #fff;
}

.popover-content {
    padding: 0;
}

.status-option {
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    cursor: default;
    font-family: 'Philosopher', Roboto, sans-serif;
}

.status-option:hover {
    transform: scale(1.1);
}

[data-status="completed"] {
    background-color: #009926;
}

[data-status="reading"] {
    background-color: #0275d8;
}

[data-status="drop"] {
    background-color: #FF3933;
}

[data-status="on-hold"] {
    background-color: #fb990e;
}

[data-status="inPlans"] {
    background-color: #999;
}

/*
Progress
 */
.user-book-progress {
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: .5rem;
}

.progress-label {
    font-size: 17px;
    font-weight: 600;
    line-height: 2;
}

.progress-input-wrapper input {
    width: 100%;
    line-height: 2;
    text-align: center;
}

.progress-input-wrapper input.no-focused {
    background: none;
    border: none;
}

/*
Short Info
*/

.short-info-items {
    padding-left: 15px;
    border-left: 2px solid #009926;
    flex: 1 100%;
}

.short-info-items ul {
    list-style-type: none;
    padding: 0;
}

.short-info-items li {
    font-size: 17px;
    font-weight: 600;
    line-height: 2;
}

.short-info-items i {
    font-size: 20px;
    line-height: 1;
}

.item-link {
    color: #35447b;
}

.authors-item, .series-item, .publisher-item {
    display: block;
    padding-left: 2rem;
    line-height: 1.5rem;
}

.item-link:hover {
    color: #009926;
}

#categories {
    text-align: left;
}

.category {
    font-size: 13px;
    border: 1px solid;
    color: #999;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 5px;
    white-space: nowrap;
}

.category:hover {
    border-color: #009926;
    color: #333;
}

#description {
    padding-top: 15px;
}

#add-to-favorite.active {
    transform: scale(1.1);
    transition: 0.6s;
    color: #ff0500;
}

#add-to-favorite.active:hover {
    color: #009926;
}

.item-icon {
    padding-right: 5px;
    transition: 0.6s;
}

/*
* Right sidebar
*/
#books-sidebar {
    position: absolute;
    right: -18px;
    box-shadow: -6px 0 3px -3px #2ca02c;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    max-width: 21%;
    background-color: #fff;
}

#books-sidebar .item-container {
    height: 18vw;
    line-height: 1;
    margin: 1vw 0;
    max-height: 45vh;
}

#books-sidebar .container-cover {
    height: 80%;
}

#books-sidebar .container-title {
    height: 20%;
}

.item-container-link {
    padding: 0 10px;
    max-width: 100%;
}

#books-sidebar .item-container-link:hover .container-title {
    box-shadow: inset 0 -3px 2px -1px #009926;
}

@media only screen and (max-width: 1224px) {
    #books-sidebar{
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1150px) {
    #books-sidebar .container-title {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1050px) {
    #books-sidebar .container-title {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px) {
    #books-sidebar .container-title {
        font-size: 15px;
    }

    .container-link {
        margin-right: 30px;
    }

    .item-container-link {
        /*width: 14vw;*/
    }
}

@media only screen and (max-width: 859px) {
    div.page-content {
        max-width: calc(100vw - 50px);
        padding-right: 0;
    }

    div#wrapper {
         padding-right: 3rem;
    }

    #books-sidebar .container-cover {
        /*height: 75%;*/
    }

    #books-sidebar .container-title {
        font-size: 13px;
        /*height: 25%;*/
    }

    .container-link {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 650px) {
    #books-sidebar {
        display: none;
    }

    #wrapper {
        max-width: 100%;
        max-height: inherit;
    }

    #short-info {
         display: block;
    }

    .short-img {
        margin-right: 0;
    }
}







