div.page-content {
    max-width: 100%;
    padding-right: 0;
}

#wrapper {
    padding: 0 3rem 0 1rem;
    text-align: justify;
    max-height: 100vh;
    max-width: 80%;
    overflow-y: auto;
}

#wrapper h2 {
    margin: 0.5em 0 1em 0;
    text-align: center;
}

#short-info {
    overflow: hidden;
}

.short-img img {
    width: 100%;
}

.short-info-items {
    padding-left: 15px;
    border-left: 2px solid #009926;
}

.short-info-items ul {
    list-style-type: none;
    padding: 0;
}

.short-info-items li {
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
}

.item-link {
    color: #999;
}

.series-item {
    font-size: 14px;
    display: block;
    padding-left: 2rem;
    line-height: 1.5rem;
}

.item-link:hover {
    color: #009926;
}

#categories {
    text-align: left;
}

.category {
    font-size: 13px;
    border: 1px solid;
    color: #999;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 5px;
    white-space: nowrap;
}

.category:hover {
    border-color: #009926;
    color: #333;
}

#description {
    padding-top: 15px;
}

#add-to-favorite {
    text-decoration: none;
    cursor: pointer;
    color: #999;
}

#add-to-favorite:hover {
    color: #009926;
}

#add-to-favorite:hover .item-icon {
    transform: scale(1.1);
    transition: 0.6s;
    color: #ff0500;
}

.item-icon {
    padding-right: 5px;
    transition: 0.6s;
}

/*
* Right sidebar
*/
#books-sidebar {
    position: absolute;
    right: -18px;
    box-shadow: -6px 0 3px -3px #2ca02c;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    max-width: 25%;
    background-color: #fff;
}

#books-sidebar .item-container {
    height: 16rem;
    line-height: 1;
    margin: 1vw 0;
}

#books-sidebar .container-cover {
    height: 80%;
}

#books-sidebar .container-title {
    height: 20%;
}

.item-container-link {
    margin: 0 auto;
    width: 15vw;
}

#books-sidebar .item-container-link:hover .container-title {
    box-shadow: inset 0 -3px 2px -1px #009926;
}

@media only screen and (max-width: 1150px) {
    #books-sidebar .item-container {
        height: 14rem;;
    }

    #books-sidebar .container-title {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1050px) {
    #books-sidebar .item-container {
        height: 13rem;;
    }

    #books-sidebar .container-title {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px) {

    #books-sidebar .item-container {
        height: 12rem;;
    }

    #books-sidebar .container-title {
        font-size: 15px;
    }

    .container-link {
        margin-right: 30px;
    }

    .item-container-link {
        width: 14vw;
    }
}

@media only screen and (max-width: 891px) {
    #books-sidebar .item-container {
        height: 10rem;;
    }

    #books-sidebar .container-cover {
        height: 75%;
    }

    #books-sidebar .container-title {
        font-size: 13px;
        height: 25%;
    }
}

@media only screen and (max-width: 650px) {
    #books-sidebar {
        display: none;
    }

    #wrapper {
        max-width: 100%;
        max-height: inherit;
    }
}







