body {
    overflow-x: hidden;
}

.container-content {
    padding-bottom: 0;
}

.page-content {
    display: grid;
    grid-template: ". content slider";
    grid-template-columns: 30px auto 220px;
    grid-gap: 1rem;
}

#wrapper {
    grid-area: content;
    margin-bottom: 2em;
}

#container-info {
    display: grid;
    grid-template: "header"
                   "breadcrumbs"
                   "short-info"
                   "description";
    grid-gap: 1rem;
}

#page-header {
    grid-area: header;
}

.user-action-container {
    display: grid;
    grid-gap: .5em;
}

/*
Average rating
*/

#avg-rating-container, .statistic-wrapper {
    display: flex;
    justify-content: space-around;
    background-color: #272c2e;
    color: #fff;
    border-radius: 8px;
    line-height: 2;
}

/*
Image & Actions
*/

#short-info {
    grid-area: short-info;
    overflow: hidden;
    display: grid;
    grid: max-content / max-content auto;
    grid-gap: 1em;
}

.short-img {
    display: grid;
    justify-content: center;
    grid-gap: .5rem;
    grid-template-columns: 280px;
    grid-template-rows: min-content auto min-content min-content;
}

.image-wrapper {
    margin: 0 auto;
}

#short-info img {
    border-radius: 5px;
    max-width: 100%;
}

.statistic-item > span, #avg-rating-container span {
    margin-left: .5em;
}

#user-actions-wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 22px;
}

.owl-nav {
    width: 100%;
    left: 0;
    z-index: 1;
}

#add-comment {
    color: #f39c12;
}

#add-review {
    color: #89d641;
}

.user-actions-container > .add-to-favorite {
    color: #ff0500;
}

/*
Status
*/

#status-btn {
    border: 1px solid #35447b;
    border-radius: 10px;
    margin: 0 1em;
    text-align: center;
    line-height: 2;
    cursor: default;
    display: block;
    color: #35447b;
}

#status-list {
    min-width: 200px;
}

#status-btn[data-status]:not([data-status='']) {
    border-color: #fff;
    color: #fff;
}

.popover-content {
    padding: 0;
}

.status-option {
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    cursor: default;
    font-family: 'Philosopher', Roboto, sans-serif;
}

.status-option:hover {
    transform: scale(1.1);
}

[data-status="completed"] {
    background-color: #009926;
}

[data-status="reading"] {
    background-color: #0275d8;
}

[data-status="drop"] {
    background-color: #FF3933;
}

[data-status="on-hold"] {
    background-color: #fb990e;
}

[data-status="inPlans"] {
    background-color: #999;
}

/*
Progress
 */
.user-book-progress {
    display: grid;
    grid-template-columns: 65% 35%;
    text-align: center;
}

.progress-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.progress-label {
    font-size: 15px;
    font-weight: 600;
    line-height: 2;
}

.progress-input-wrapper input {
    line-height: 2;
    font-size: 15px;
    text-align: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

.progress-input-wrapper input:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #009926;
    outline: none;
}

.progress-input-wrapper input.no-focused {
    background: none;
    border: none;
}

.error-message {
    margin-top: .5rem;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
    font-size: 12px;
    line-height: 1;
}

.user-book-progress.error .error-message, .user-book-progress.error input {
    color: #d9534f;
    border-color: #d9534f;
}

/*
Short Info
*/

.short-info-items {
    padding-left: 15px;
    border-left: 2px solid #009926;
    flex: 1 100%;
}

.short-info-items ul {
    list-style-type: none;
    padding: 0;
}

.short-info-items li {
    font-size: 17px;
    font-weight: 600;
    line-height: 2;
}

.short-info-items i {
    font-size: 20px;
    line-height: 1;
}

.item-link {
    color: #35447b;
}

#authors, #series, #publishers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.authors-item, .series-item, .publisher-item {
    padding-left: 2rem;
    line-height: 1.5rem;
}

.item-link:hover {
    color: #009926;
}

#categories {
    text-align: left;
}

.category {
    font-size: 13px;
    border: 1px solid;
    color: #999;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 5px;
    white-space: nowrap;
}

.category:hover {
    border-color: #009926;
    color: #333;
}

#description {
    grid-area: description;
    padding-top: 15px;
}

#add-to-favorite.active {
    transform: scale(1.1);
    transition: 0.6s;
    color: #ff0500;
}

#add-to-favorite.active:hover {
    color: #009926;
}

.item-icon {
    padding-right: 5px;
    transition: 0.6s;
}

/*
* Right sidebar
*/
#books-sidebar {
    grid-area: slider;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
}

#sidebar-header {
    text-align: center;
    width: 85%;
    margin: .5rem auto 0;
    border-bottom: 1px solid #009926;
}

#sidebar-container {
    position: relative;
    height: 100%;
}

#sidebar-absolute-wrapper {
    position: absolute;
    padding: 12px;
    height: 100%;
    overflow-y: scroll;

}

#books-sidebar .item-container {
    line-height: 1;
    margin: .5em 0;
}


@media only screen and (max-width: 1150px) {
    #books-sidebar .container-title {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1050px) {
    #books-sidebar .container-title {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px) {
    #short-info {
        grid: repeat(2, max-content) / 100%;
        grid-gap: 1em;
    }

    #books-sidebar .container-title {
        font-size: 15px;
    }
}

@media only screen and (max-width: 859px) {
    #books-sidebar .container-title {
        font-size: 13px;
    }
}

@media only screen and (max-width: 650px) {
    .page-content {
        grid-template-columns: 30px auto;
    }

    #books-sidebar {
        display: none;
    }

    #wrapper {
        max-width: 100%;
        max-height: inherit;
    }

    #short-info {
         display: block;
    }

    .short-img {
        margin-right: 0;
    }
}







