#edit-form-wrapper {
    grid-area: fields;
}

#user-profile-img-change-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #009926;
    position: relative;
    margin: 0;
    transition: all 0.4s ease-in-out;
    text-align: center;
}

#user-profile-img-change-wrapper img {
    height: 100%;
}

#edit-img-wrapper {
    grid-area: image;
    position: relative;
}

.img-change-btn:hover label {
    display: block;
}

.img-change-btn:hover, .img-change-btn:hover label {
    color: #009926;
    cursor: pointer;
}

.img-change-btn.delete-btn.forbidden {
    opacity: .5;
    color: inherit;
    cursor: not-allowed;
}

.submit-btn {
    grid-area: submit;
}

.gender {
    display: flex;
    width: 6rem;
}

.btn-switch-label {
    padding: 0 1rem;
    margin: 0;
    font-size: 24px;
    border: 1px solid #009926;
    color: #3B4142;
    cursor: pointer;
}

.btn-switch-label.active {
    color: #fff;
}

.btn-switch-label input {
    display: none;
}

.gender label:first-child {
    border-radius: 50px 0 0 50px;
    border-right-width: 0;
    background: linear-gradient(to right, #fff 50%, #009926 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all .7s ease;
}

.gender label:last-child {
    border-radius: 0 50px 50px 0;
    background: linear-gradient(to left, #fff 50%, #009926 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .7s ease;
    border-left-width: 0;
}

.gender .active:first-child {
    background-position: right bottom;
}

.gender .active:last-child {
    background-position: left bottom;
}

#changeInfo {
    line-height: 1.3;
    font-size: 15px;
    padding-bottom: 1rem;
}

#changeInfo i {
    padding-right: 10px;
    font-size: 1.3rem;
    color: #ff0500;
}

.modal-body .close-btn {
    margin-right: 0;
}

.form-control-feedback {
    height: 1rem;
}

#img-change-btn-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    opacity: 0;
    text-align: center;
    z-index: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#edit-img-wrapper:hover #img-change-btn-wrapper {
    opacity: 1;
    transform: scale(1);
}

#img-change-btn-wrapper div {
    margin: 0 auto;
}


