#edit-form {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
    grid-area: mainContainer;
}

#user-profile-img-change-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #009926;
    position: relative;
    margin: 0;
    transition: all 0.4s ease-in-out;
    text-align: center;
}

#user-profile-img-change-wrapper img {
    height: 100%;
}

#edit-img-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#img-change-btn-wrapper {
    font-size: 25px;
    display: grid;
    align-items: center;
    grid-gap: 2.5rem;
}
.img-change-btn:hover label {
    display: block;
}

.img-change-btn:hover, .img-change-btn:hover label {
    color: #009926;
    cursor: pointer;
}

.img-change-btn.delete-btn.forbidden {
    opacity: .5;
    color: inherit;
    cursor: not-allowed;
}

@media screen and (min-width: 545px) {
    #edit-form {
        grid-template-columns: 5% 3fr 1fr 5%;
        grid-gap: 2%;
    }

    #edit-form-wrapper {
        grid-column: 2 / span 1
    }

    #edit-img-wrapper {
        display: block;
        position: relative;
        justify-self: center;
        grid-column: 3 / span 1
    }

    #img-change-btn-wrapper {
        position: absolute;
        background-color: rgba(0, 0, 0, .8);
        color: #fff;
        top: 0;
        left: 0;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        opacity: 0;
        text-align: center;
        transform: scale(0);
        transition: all 0.4s ease-in-out;
    }

    #edit-img-wrapper:hover #img-change-btn-wrapper {
        opacity: 1;
        transform: scale(1);
    }

    #img-change-btn-wrapper div {
        margin: 0 auto;
    }
}

/*#edit-form-wrapper > div:first-child {*/
/*flex-grow: 3;*/
/*margin-right: 1em;*/
/*}*/

/*#edit-form-wrapper > div:last-child {*/
/*flex-shrink: 1;*/
/*margin-left: 1em;*/
/*}*/

