/*
Rating
*/

.user-item-rating {
    display: flex;
    font-size: 25px;
}

.rating-star-container {
    flex-grow: 1;
    position: relative;
    text-align: center;
}

.ui-menu .ui-menu-item-wrapper {
    padding: 5px 1rem;
}

.hover-rating-container {
    display: flex;
    height: 100%;
    width: 25px;
    left: 50%;
    margin-left: -25%;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.hover-rating-container > div {
    width: 100%;
}

.star-icon-container .star-icon {
    display: none;
    width: 25px;
}

.star-icon-container .star-icon > svg {
    width: 25px;
}

.star-icon.active {
    display: block;
    margin: 0 auto;
}

.empty-star {
    color: rgba(0, 0, 0, .5);
}

.star-icon-container {
    color: #ccbf09;
}