.user-favorite {
    margin: 2em 0;
}

.owl-carousel {
    max-width: 1600px;
}

#statistic-wrapper, #statistic-chart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#statistic-count > div {
    margin: 10px 0;
}

#diagram-legend {
    display: flex;
    flex-direction: column;
   text-align: center;
}

#diagram-legend > a {
    display: block;
    width: 100%;
    color: #fff;
    padding: 2px 10px;
    margin: 5px 0;
    border-radius: 10px;
}

.reading {
    background-color: #0275d8;
}

.completed {
    background-color: #009926;
}

.drop {
    background-color: #FF3933;
}

.on-hold {
    background-color: #fb990e;
}

.inPlans {
    background-color: #999;
}

#book-diagram {
    height: 250px;
    width: 250px;
}

.user-favorite-img.item {
    padding: 5px;
    border: 1px solid #009926;
    border-radius: 5px;
    height: 220px;
    background: rgba(255, 255, 255, 0.4) url(../../images/alert.png);
    display: flex;
    align-items: center;
}

.user-favorite-img img {
    max-height: 100%;
}

@media screen and (min-width: 300px) {
    .owl-stage-outer {
        z-index: 1;
    }

    .owl-nav {
        width: calc(100% + 48px);
        margin-left: -24px;
    }
}

@media screen and (min-width: 450px) {
    .user-favorite-img.item {
        height: 140px;
    }
}

@media screen and (min-width: 678px) {
    .user-favorite-img.item {
        height: 170px;
    }
}

@media screen and (min-width: 1000px) {
    .user-favorite-img.item {
        height: 210px;
    }
}

@media screen and (min-width: 1100px) {
    .user-favorite-img.item {
        height: 260px;
    }
}