.line-height-1-5 {
    line-height: normal !important;
}

.book-status-container {
    display: flex;
    justify-content: space-around;
    background-color: #272c2e;
    color: #fff;
    border-radius: 20px;
}

.book-status.element {
    line-height: 2;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

.book-status.element:hover, .book-status.element.active {
    color: #009926;
}

.user-book-library-table {
    margin: 1em;
    border-spacing: 2px;
    border-color: #3b4142;
}

.table-header {
    font-size: 25px;
    background-color: #009926;
    line-height: 2;
    color: #fff;
    padding-left: 1em;
    font-weight: 600;
}

.table-body {
    width: 100%;
}

.table-row {
    line-height: 3;
}

thead .table-row {
    font-size: 18px;
    background-color: #3b4142;
    color: #D2D2D2;
}

tbody .table-row:nth-child(odd) {
    background-color: #e8e8e8;
}

tbody .table-row {
    border-bottom: 1px solid #009926;
}

.table-row th div {
    padding: 0 10px;
}

.table-row th:not(:last-of-type) .title {
    border-right: 1px solid #D2D2D2;
    text-align: center;
    line-height: 2;
}

.table-row th {
    position: relative;
    cursor: pointer;
}

.sort-controls {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.fa-sort-asc {
    top: 5px;
}

.fa-sort-desc {
    bottom: 5px;
}

.table-column:hover > .sort-controls {
    color: #009926;
}

.table-column:not(th) {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.table-column.number {
    width: 6%;
    min-width: 50px;
}

.table-column.name {
    width: 25%;
}

.table-column.status {
    width: 20%;
}

.table-column.rating {
    width: 8%;
}

.table-column.authors {
    width: 30%;
}

.table-column.pages {
    width: 11%;
}

.table-column.number.value {
    padding-left: 0;
}

.number-wrapper {
    display: flex;
    justify-content: space-between;
}

/*
Status
 */

.status_color {
    width: 10px;
}

.status-btn {
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.75;
    cursor: default;
    display: block;
    color: #fff;
    width: 90%;
    white-space: pre-line;
}

.popover-content {
    padding: 0;
}

.status-option {
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    cursor: default;
    font-family: 'Philosopher', Roboto, sans-serif;
    width: 10em;
}

.status-option:hover {
    transform: scale(1.1);
}

[data-status="completed"] {
    background-color: #009926;
}

[data-status="reading"] {
    background-color: #0275d8;
}

[data-status="drop"] {
    background-color: #FF3933;
}

[data-status="on-hold"] {
    background-color: #fb990e;
}

[data-status="inPlans"] {
    background-color: #999;
}

/*
Rating
 */

.rating-btn {
    cursor: pointer;
    outline: none;
    text-align: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

.no-focused {
     background: none;
     border: none;
}

.input-autocomplete {
    background-color: #292b2c;
    color: #fff;
    font-size: 14px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.ui-menu-item:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ui-menu-item:hover {
    background-color: #009926;
}

.ui-menu-item > .ui-state-active {
    margin: 0;
}

/*
Authors
 */

.table-column.authors.value {
    display: grid;
    width: 100%;
    grid-template-columns: 95% 5%;
    grid-template-areas: "authors control";
}

.table-column.authors.value.vertical-middle {
    display: table-cell;
    vertical-align: middle;
}

.author-link-wrapper {
    padding-right: 10px;
    grid-area: authors;
    line-height: 3;
    align-self: center;
}

.other-authors-controller {
    grid-area: control;
    cursor: pointer;
    align-self: center;
    grid-row-start: 1;
    grid-row-end: end;
}

.other-authors-controller:hover {
    color: #009926;
}

.other-author-wrapper {
    grid-area: authors;
    grid-row-start: 2;
    /*line-height: 1.5;*/
    display: flex;
    flex-direction: column;
}

/*
Progress
 */
.book-progress {
    line-height: 1;
    outline: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

/*
Popover
 */
.popover {
    border-color: #009926;
}

.popover.bs-tether-element-attached-top::before {
    border-bottom-color: #009926;
}
