.mobile-table {
    display: none;
}

.line-height-1-5 {
    line-height: normal !important;
}

.user-book-library {
    position: relative;
}

.book-status-container {
    display: flex;
    justify-content: space-around;
    background-color: #272c2e;
    color: #fff;
    border-radius: 23px;
    transition: easy-in .5s;
}

.book-status-container.mobile {
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
}

.book-status-container.fixed {
    position: fixed;
    width: calc(100% - 190px);
    top: -44px;
    left: 190px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    transform: translateY(0);
    transition: ease-in .5s;
    z-index: 1;
}

.book-status-container.fixed.animate {
    transform: translateY(44px);
    transition: ease-in .5s;
}

.book-status-container.mobile > i {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.book-status-container.mobile + .user-book-library-table {
    padding-top: calc(1em + 44px);
    margin: 0;
}

.book-status.element {
    line-height: 2;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
}

.book-status.element:hover, .book-status.element.active {
    color: #009926;
}

.user-book-library-table {
    margin: 1em;
    border-spacing: 2px;
    border-color: #3b4142;
}

.user-book-library-table.statusTabIsFixed {
    padding-top: 44px;

}

.table-header {
    font-size: 25px;
    background-color: #009926;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: .5em 1em;
    font-weight: 600;
    position: relative;
}

.filter-container {
    display: flex;
    align-items: center;
    font-size: 18px;
    right: 1em;
    height: 100%;
    top: 0;
    position: absolute;
}

.search-wrapper {
    padding-right: 1em;
    display: flex;
    align-items: center;
    height: 100%;
}

.search-field-container {
    overflow: hidden;
    margin-right: 10px;
    width: 15rem;
    height: 100%;
    position: relative;
}

.search-field-wrapper {
    content: "";
    position: absolute;
    width: 95%;
    right: 10px;
    height: 70%;
    display: flex;
    border-radius: 9px;
    padding: 5px;
    top: 15%;
    background-color: #3b4142;
    transform: translateX(105%);
    transition: .5s ease;
}

.search-field-wrapper:after {
    content: "";
    height: 0;
    position: absolute;
    right: -10px;
    width: 0;
    border-style: solid;
    border-width: 15px 0 13px 11px;
    border-color: transparent transparent transparent #3b4142;
}

.search-field-wrapper.show {
    transition: .5s ease;
    transform: translateX(0);
}

.search-field {
    line-height: normal;
    font-size: 14px;
    width: 100%;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
}

.library-table {
    width: 100%;
}

.table-row {
    line-height: 3;
}

thead .table-row {
    font-size: 18px;
    background-color: #3b4142;
    color: #D2D2D2;
}

tbody .table-row:nth-child(odd) {
    background-color: #e8e8e8;
}

tbody .table-row {
    border-bottom: 1px solid #009926;
}

.table-row th div {
    padding: 0 10px;
}

.table-row th:not(:last-of-type) .title {
    border-right: 1px solid #D2D2D2;
    text-align: center;
    line-height: 2;
}

.table-row th {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.sort-controls {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.fa-sort-asc {
    top: 5px;
}

.fa-sort-desc {
    bottom: 5px;
}

.table-column:hover > .sort-controls {
    color: #009926;
}

.table-column:not(th) {
    padding: 0 1rem;
    text-align: center;
}

.table-column.number {
    width: calc(100%/15*1);
    min-width: 50px;
}

.table-column.name {
    width: calc(100%/15*4);
}

.table-column.status {
    width: calc(100%/15*2);
}

.table-column.rating {
    width: calc(100%/15*2);
}

.table-column.authors {
    width: calc(100%/15*6);
}

.table-column.pages {
    width: calc(100%/15*2);
}

.table-column.number.value {
    padding-left: 0;
}

.number-wrapper {
    display: flex;
    text-align: center;
}

.number-wrapper span:last-child {
    width: 85%;
}

/*
Status
 */

.status_color {
    width: 15%;
    min-width: 10px;
}

.status-btn {
    border: none;
    outline: none;
    border-radius: 10px;
    text-align: center;
    line-height: 1.75;
    cursor: default;
    display: block;
    color: #fff;
    width: 100%;
    white-space: pre-line;
}

.popover-content {
    padding: 0;
}

.status-option {
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    cursor: default;
    font-family: 'Philosopher', Roboto, sans-serif;
    width: 10em;
}

.status-option:hover {
    transform: scale(1.1);
}

[data-status="completed"] {
    background-color: #009926;
}

[data-status="reading"] {
    background-color: #0275d8;
}

[data-status="drop"] {
    background-color: #FF3933;
}

[data-status="on-hold"] {
    background-color: #fb990e;
}

[data-status="inPlans"] {
    background-color: #999;
}

/*
Rating
 */

.rating-btn {
    cursor: pointer;
    outline: none;
    text-align: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

.no-focused {
     background: none;
     border: none;
}

.input-autocomplete {
    background-color: #292b2c;
    color: #fff;
    font-size: 14px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.ui-menu-item:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ui-menu-item > .ui-state-active {
    background-color: #009926;
    border: 1px solid transparent;
}

.ui-menu-item:last-child > .ui-state-active {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*
Authors
 */

.table-column.authors.value {
    display: grid;
    width: 100%;
    grid-template-areas: "authors control";
}

.table-column.authors.value.vertical-middle {
    display: table-cell;
    vertical-align: middle;
}

.author-link-wrapper {
    padding-right: 10px;
    grid-area: authors;
    line-height: 3;
    align-self: center;
}

.other-authors-controller {
    grid-area: control;
    cursor: pointer;
    align-self: center;
    grid-row-start: 1;
    grid-row-end: end;
}

.other-authors-controller:hover {
    color: #009926;
}

.other-author-wrapper {
    grid-area: authors;
    grid-row-start: 2;
    /*line-height: 1.5;*/
    display: flex;
    flex-direction: column;
}

/*
Progress
 */
.book-progress {
    line-height: 1;
    outline: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

/*
Popover
 */
.popover {
    border-color: #009926;
}

.popover.bs-tether-element-attached-top::before {
    border-bottom-color: #009926;
}

/*
Modal dialog with Filters
 */
.modal-header>h3 {
    width: 100%;
    text-align: center;
}

.modal-container-header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #9e9e9e;
    line-height: 0.1em;
}

.modal-status-container .modal-container-header {
    margin-top: 1em;
}

.modal-container-header span {
    background:#fff;
    font-size: 18px;
    padding:0 10px;
}

.modal-status-btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
    color: #fff;
}

.modal-status-btn {
    line-height: 2;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    min-width: 5rem;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.modal-status-btn::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .7;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.modal-status-btn:hover::after, .modal-status-btn.selected::after {
    display: none;
}

.modal-rating-slider-wrapper {
    padding: 0 1rem;
    margin: 2em 0;
}

.ui-slider-handle.ui-state-default {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.5em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    border: none;
    background: none;
    text-align: center;
    outline: none;
}

.ui-slider-handle.rating-range-slider-handler {
    color: #ccbf09;
}

.rating-range-slider-handler:before {
    content: '\f005';
}

.selected-range-slider {
    background-color: #009926;
}

.rating-range-scale {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.modal-progress-slider-wrapper {
    display: flex;
    margin-top: 2em;
    align-items: baseline;
}

.form-control {
    padding: 0 5px;
    width: 3rem;
    text-align: center;
}

.input-label {
    top: -0.3rem;
    text-align: center;
    width: 100%;
}

.input-label.active {
    transform: translateY(-90%);
}

.progress-slider-range-wrapper {
    width: 100%;
    margin: 0 15px;
}

.ui-slider-handle.progress-range-slider-handler {
    color: #292b2c;
}

.progress-range-slider-handler:before {
    content: '\f295';
}


@media screen and (max-width: 1013px) {
    .library-table {
        display: none;
    }

    .mobile-table {
        display: block;
    }

    .mobile-table-row {
        line-height: 2;
        border-bottom: 1px solid #9e9e9e;
    }

    .number-wrapper span:last-child {
        padding: 5px;
    }

    .number-wrapper {
        align-items: center;
        margin-right: 15px;
    }

    .status_color {
        height: 100%;
    }

    .mobile-short-info-container {
        display: flex;
    }

    .mobile-short-info-wrapper {
        width: 100%;
    }

    .mobile-short-info-wrapper .name {
        font-size: 22px;
    }

    .mobile-other-short-field-wrapper {
        display: flex;
        font-size: 15px;
        text-align: center;
    }

    .authors-short {
        width: 50%;
    }

    .status-short {
        width: 20%;
    }

    .rating-short {
        width: 15%;
    }

    .progress-short {
        width: 15%;
    }

    .show-full-controller {
        margin-left: 15px;
        display: flex;
        align-items: center;
    }

    .show-full-controller > i {
        font-size: 20px;
    }

    .mobile-full-info-wrapper.show {
        border-top: 1px solid #e9ecef;
    }

    .mobile-full-info-wrapper div {
        padding: 5px;
    }

    .mobile-full-info-wrapper .authors {
        display: flex;
        justify-content: space-around;
        text-align: center;
        line-height: normal;
    }

    .mobile-controls {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    .mobile-controls > div {
        width: 100%;
    }

    .mobile-table-row.opacity {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: .5;
    }
}

@media screen and (max-width: 600px) {
    .mobile-other-short-field-wrapper {
        display: block;
    }

    .mobile-other-short-field-wrapper > div {
        display: inline-block;
    }

    .authors-short {
        width: 100%;
    }

    .status-short {
        width: 30%;
    }

    .rating-short {
        width: 30%;
    }

    .progress-short {
        width: 30%;
    }

    .search-wrapper {
        position: relative;
    }
}

@media screen and (max-width: 767px) {
    .book-status-container.fixed {
        width: calc(100% - 50px);
        left: 50px;
    }
}
